mod "Mod4"

autostart {
    command "waybar"
    command "ghostty"
    command "swaybg -i /home/akrc/.config/assets/bochi-1.jpg"
}

window-rule {
    geometry-corner-radius 10
    opacity 0.75
}

window-rule {
    match app-id="ulauncher"
    open-floating true
    border { off }
    shadow { off }
    geometry-corner-radius 0
    opacity 1.0
}

binds {
    Mod+F { spawn "brave"; }
    Mod+Return { spawn "ghostty"; }
    Mod+D { spawn "ulauncher"; }
    Mod+Q { close-window; }
    Mod+R { enter-resize-mode; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-window-up; }
    Mod+Down { focus-window-down; }
    Mod+Shift+Left { move-window-to-column-left; }
    Mod+Shift+Right { move-window-to-column-right; }
    Mod+Shift+Up { move-window-in-column-up; }
    Mod+Shift+Down { move-window-in-column-down; }
}
