input {
    mod-key "Super"
}

spawn-at-startup "waybar"
spawn-at-startup "ghostty"
spawn-at-startup "swaybg -i /home/akrc/.config/assets/bochi-1.jpg"

window-rule {
    geometry-corner-radius 10
    opacity 0.75
}

window-rule {
    match app-id="ulauncher"
    open-floating true
    geometry-corner-radius 0
    opacity 1.0
    border {
        off
    }
    shadow {
        off
    }
}

binds {
    Mod+F { spawn "brave"; }
    Mod+Return { spawn "ghostty"; }
    Mod+D { spawn "ulauncher"; }
    Mod+Q { close-window; }
    Mod+R { enter-resize-mode; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-window-up; }
    Mod+Down { focus-window-down; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+Ctrl+Down { move-window-down; }
}
